@{
    ViewData["Title"] = "Імпорт";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="mb-3">Оберіть Excel-файл для завантаження</h3>
            @using (Html.BeginForm("Import", "Films", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
            {
                <div class="form-group">
                    <label for="fileExcel">Завантажте Excel-файл:</label>
                    <input type="file" class="form-control-file" name="fileExcel" id="fileExcel" accept=".xlsx, .xls">
                </div>
                <button type="submit" class="btn btn-primary">Завантажити</button>
            }
        </div>
    </div>
</div>
