@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Ролі користувачів";
}

<h1 class="mb-3">Список ролей</h1>

<p>
    <a asp-action="Create">Додати роль</a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Назва ролі</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    @if (!((role.Name == "admin") || (role.Name == "user")))
                    {
                        <a asp-action="Update" asp-route-roleId="@role.Id">Редагувати</a> 
                        <a asp-action="Delete" asp-route-roleId="@role.Id" onclick="return confirm('Ви впевнені, що хочете видалити цю роль?');">Видалити</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="UserList" class="btn btn-outline-info" type="=submit">Список користувачів для зміни прав доступа</a>






